### 8 bit switch pins ### 
NET switch<0> LOC= V5;
NET switch<1> LOC= U4;
NET switch<2> LOC= V3;
NET switch<3> LOC= P4;
NET switch<4> LOC= R4;
NET switch<5> LOC= P6;
NET switch<6> LOC= P5;
NET switch<7> LOC= P8;

### 8 bit led pins ###
NET led<0> LOC=W3;
NET led<1> LOC=Y4;
NET led<2> LOC=Y1;
NET led<3> LOC=Y3;
NET led<4> LOC=AB4;
NET led<5> LOC=W1;
NET led<6> LOC=AB3;
NET led<7> LOC=AA4;